.full-width {
    width: 100%;
}

.relative {
    position: relative;
}

.programming {
    display: block;
    margin: 0 auto;
    width: 100%!important;
    height: auto!important;
    max-width: 600px;
}