.menu-mobile {
    display: block;
    cursor: pointer;
    color: $white-color;
    font-size: 16px;
    text-align: center;
    padding: ($number * 4) ($number * 6);
    background-color: $dark;
}

.menu {
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            a {
                display: block;
                color: $white-color;
                padding: ($number * 4) ($number * 6);
                font-size: 16px;
                position: relative;
                @include transition2(.2s);
                &:before {
                    display: block;
                    content: "";
                    height: $number;
                    width: 0;
                    background-color: $darker;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    margin: 0 auto;
                    @include transition2(.2s);
                }
                &:hover {
                    text-decoration: none;
                    color: $darker;
                }
                &:hover:before {
                    width: 100%;
                    left: 0;
                }
            }
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }
}